/* Global Styles */

html, body, .mn-content {
    font-size: 14px;
    height: 100%;
    width: 100%;
}

html {
    font-weight: 500;
    color: rgba(0,0,0,0.6);
}

body {
    background-color: #F4F4F4;
    overflow-y: auto!important;
    overflow-x: hidden;
}

a {
    color: #0277bb;
}

text {
    font-family: "Roboto", sans-serif;
}

mark {
    background: #fff9c4;
    color: rgba(0,0,0,0.8);
}

a:hover,
a:active,
a:focus {
    outline: none!important;
}

.btn,
.btn-flat {
    font-weight: 500;
    font-size: 13px;
}

.btn-flat.disabled:hover {
    background: transparent;
}

.btn-flat.waves-grey {
    color: #343434;
}

.btn-flat.waves-purple {
    color: #9c27b0;
}

.btn-flat.waves-green {
    color: #4caf50;
}

.btn-flat.waves-blue {
    color: #2196f3;
}

.btn-flat.waves-orange {
    color: #ff9800;
}

.btn-flat.waves-red {
    color: #f44336;
}

.btn.white {
    color: #343434;
}

.waves-effect.waves-light .waves-ripple {
    background-color: rgba(255, 255, 255, 0.2);
}

.waves-effect.waves-grey .waves-ripple {
    background-color: rgba(158, 158, 158, 0.2);
}

.waves-effect.waves-red .waves-ripple {
    background-color: rgba(244, 67, 54, 0.2);
}

.waves-effect.waves-yellow .waves-ripple {
    background-color: rgba(255, 235, 59, 0.2);
}

.waves-effect.waves-orange .waves-ripple {
    background-color: rgba(255, 152, 0, 0.2);
}

.waves-effect.waves-purple .waves-ripple {
    background-color: rgba(156, 39, 176, 0.2);
}

.waves-effect.waves-green .waves-ripple {
    background-color: rgba(76, 175, 80, 0.2);
}

.waves-effect.waves-blue .waves-ripple {
    background-color: rgba(33, 150, 243, 0.2);
}

.waves-effect.waves-teal .waves-ripple {
    background-color: rgba(0, 150, 136, 0.2);
}

.collection a.collection-item {
    color: #343434;
}

/* Button */

.fixed-action-btn {
    z-index: 996;
}


/* Toasts */

.toast {
    border-radius: 2px;
    background-color: #323232;
    padding: 10px 25px;
    font-size: 14px;
    font-weight: 300;
    color: #fff;
}


/* Loading */

body:not(.loaded) .mn-content {
    opacity: 0;
}

.mn-content {
    opacity: 1;
    -webkit-transition: opacity .3s;
    -moz-transition: opacity .3s;
    -o-transition: opacity .3s;
    transition: opacity .3s;
}

.loader {
    position: fixed;
    top: 50%;
    left: 50%;
    margin-left: -32px;
    margin-top: -35px;
}

.loader-bg {
    position: fixed;
    background: #fff;
    top: 0;
    bottom: 0;
    left: 0;
    right: 0;
    -webkit-transition: opacity .3s;
    -moz-transition: opacity .3s;
    -o-transition: opacity .3s;
    transition: opacity .3s;
    opacity: 1;
}

.loaded .loader-bg {
    opacity: 0;
    position: relative;
}


/* Header */

.mn-header {
    z-index: 999;
    height: 60px!important;
}

.header-title {
    font-size: 15px;
    font-weight: bold;
  /*  text-transform: uppercase;*/
    line-height: 60px;
    float: left;
    color: #fff;
    margin-left: 8px;
    position: relative;
    cursor: pointer;
}

.header-title span {
    margin: 1px 0;
    display: block;
}

.navbar-fixed .header-title {
    margin-left: 75px;
    height: 80px;
}

nav {
    position: relative;
  	padding-top: 0px;
    padding-right: 0px;
    padding-bottom: 0px;
    padding-left: 16px;
    height: 80px!important;
    line-height: 10px!important;
}

.mn-header.navbar-fixed nav .nav-wrapper {
    padding-left: 44px;
}

nav .nav-wrapper {
    padding-right: 0px;
}

.nav-right-menu {
    margin-right: -55.25px;
}

.nav-right-menu li {
    float: right;
}

.navbar-fixed nav .navigation-toggle {
    position: fixed;
    left: 25px;
    height: 80px;
}

nav .nav-wrapper > ul > li > a {
    padding: 0 12px;
    position: relative;
}

nav i, 
nav [class^="mdi-"], 
nav [class*="mdi-"], 
nav i.material-icons {
    line-height: 60px;
}

nav ul li:hover,
nav ul a:hover {
    background-color: transparent;
}

nav .nav-wrapper i {
    font-size: 22px;
    color: rgba(255,255,255,0.9);
}

nav .nav-wrapper .dropdown-content {
    width: auto!important;
    white-space: nowrap;
    padding: 5px 0;
}

@media (min-width: 993px) {
    .mn-content.fixed-sidebar .mn-inner {
        padding-left: 160px;
        width: 100%;
    }
    
    .mn-content.fixed-sidebar .page-footer {
        padding-left: 245px;
        padding-right: 25px;
        width: 100%;
    }
    
    .mn-content.fixed-sidebar-on-hidden .page-footer {
        padding-left: 25px!important;
        padding-right: 25px!important;
        width: 100%;
    }
}

nav .nav-wrapper ul li img {
    width: 34px;
    height: 34px;
    margin-top: 15px;
    float: left;
}

nav .nav-wrapper ul li img + span {
    line-height: 60px;
    float: left;
    margin-left: 10px;
    font-size: 13px;
}

nav .nav-wrapper ul li span.badge {
    position: absolute;
    top: 10px;
    right: 5px;
    min-width: 1px!important;
    line-height: 1.5;
    background: #ff8f00;
    border-radius: 100%;
    font-size: 12px;
    color: #fff;
}

.material-design-hamburger a {
    display: block;
    border: none;
    background: none;
    outline: 0;
    padding-top: 30px;
}

.material-design-hamburger__icon {
    padding: 3rem 1rem;
    cursor: pointer;
}

.material-design-hamburger__layer {
    display: block;
    width: 13px;
    height: 1.5px;
    background: rgba(255,255,255,0.9);
    position: relative;
    animation-duration: 200ms;
    animation-timing-function: ease-in-out;
}

.material-design-hamburger__layer:before, .material-design-hamburger__layer:after {
    display: block;
    width: inherit;
    height: 2px;
    position: absolute;
    background: inherit;
    left: 0;
    content: '';
    animation-duration: 200ms;
    animation-timing-function: ease-in-out;
}

.material-design-hamburger__layer:before {
    bottom: 300%;
}

.material-design-hamburger__layer:after {
    top: 300%;
}

.material-design-hamburger__icon--to-arrow {
    animation-name: material-design-hamburger__icon--slide;
    animation-fill-mode: forwards;
}

.material-design-hamburger__icon--to-arrow:before {
    animation-name: material-design-hamburger__icon--slide-before;
    animation-fill-mode: forwards;
    bottom: 200%;
}

.material-design-hamburger__icon--to-arrow:after {
    animation-name: material-design-hamburger__icon--slide-after;
    animation-fill-mode: forwards;
    top: 200%;
}

.material-design-hamburger__icon--from-arrow {
    animation-name: material-design-hamburger__icon--slide-from;
}

.material-design-hamburger__icon--from-arrow:before {
    animation-name: material-design-hamburger__icon--slide-before-from;
}

.material-design-hamburger__icon--from-arrow:after {
    animation-name: material-design-hamburger__icon--slide-after-from;
}

@keyframes material-design-hamburger__icon--slide {
    0% {
    }
    100% {
        transform: rotate(180deg);
    }
}

@keyframes material-design-hamburger__icon--slide-before {
    0% {
    }
    100% {
        transform: rotate(45deg);
        margin: 3% 37%;
        width: 75%;
    }
}

@keyframes material-design-hamburger__icon--slide-after {
    0% {
    }
    100% {
        transform: rotate(-45deg);
        margin: 3% 37%;
        width: 75%;
    }
}

@keyframes material-design-hamburger__icon--slide-from {
    0% {
        transform: rotate(-180deg);
    }
    100% {
    }
}

@keyframes material-design-hamburger__icon--slide-before-from {
  0% {
      transform: rotate(45deg);
      margin: 3% 37%;
      width: 75%;
    }
    100% {
    }
}

@keyframes material-design-hamburger__icon--slide-after-from {
    0% {
        transform: rotate(-45deg);
        margin: 3% 37%;
        width: 75%;
    }
    100% {
    }
}

.right-sidebar-button .material-design-hamburger__icon--to-arrow,
.reverse-icon .material-design-hamburger__icon--to-arrow {
    animation-name: right-material-design-hamburger__icon--slide;
    animation-fill-mode: forwards;
}

.right-sidebar-button .material-design-hamburger__icon--to-arrow:before,
.reverse-icon .material-design-hamburger__icon--to-arrow:before {
    animation-name: right-material-design-hamburger__icon--slide-before;
    animation-fill-mode: forwards;
    bottom: 200%;
}

.right-sidebar-button .material-design-hamburger__icon--to-arrow:after,
.reverse-icon .material-design-hamburger__icon--to-arrow:after {
    animation-name: right-material-design-hamburger__icon--slide-after;
    animation-fill-mode: forwards;
    top: 200%;
}

.right-sidebar-button .material-design-hamburger__icon--from-arrow,
.reverse-icon .material-design-hamburger__icon--from-arrow {
    animation-name: right-material-design-hamburger__icon--slide-from;
}

.right-sidebar-button .material-design-hamburger__icon--from-arrow:before,
.reverse-icon .material-design-hamburger__icon--from-arrow:before {
    animation-name: right-material-design-hamburger__icon--slide-before-from;
}

.right-sidebar-button .material-design-hamburger__icon--from-arrow:after,
.reverse-icon .material-design-hamburger__icon--from-arrow:after {
    animation-name: right-material-design-hamburger__icon--slide-after-from;
}

@keyframes right-material-design-hamburger__icon--slide {
    0% {
    }
    100% {
      transform: rotate(-180deg);
    }
}

@keyframes right-material-design-hamburger__icon--slide-before {
    0% {
    }
    100% {
        transform: rotate(-45deg);
        margin: 3% -10%;
        width: 75%;
    }
}

@keyframes right-material-design-hamburger__icon--slide-after {
    0% {
    }
    100% {
        transform: rotate(45deg);
        margin: 3% -10%;
        width: 75%;
    }
}

@keyframes right-material-design-hamburger__icon--slide-from {
    0% {
        transform: rotate(180deg);
    }
    100% {
    }
}

@keyframes right-material-design-hamburger__icon--slide-before-from {
    0% {
        transform: rotate(-45deg);
        margin: 3% -10%;
        width: 75%;
    }
    100% {
    }
}

@keyframes right-material-design-hamburger__icon--slide-after-from {
    0% {
        transform: rotate(45deg);
        margin: 3% -10%;
        width: 75%;
    }
    100% {
    }
}

.notifications-dropdown {
    overflow-y: visible;
    top: 60px!important;
    padding: 0!important;
}

.notificatoins-dropdown-container {
    width: 300px!important;
    max-height: 420px;
    overflow-y: auto;
    padding: 5px 0;
    cursor: auto!important;
}

.notificatoins-dropdown-container:hover {
    background-color: transparent!important;
}

.notification-drop-title {
    color: #ADADAD;
    font-size: 12px;
    padding: 8px 20px;
    cursor: auto!important;
    font-weight: bold;
}

.notification-drop-title:hover {
    background-color: transparent!important;
}

.notifications-dropdown li a {
    overflow: hidden;
}

.notifications-dropdown .notification .notification-icon {
    width: 36px;
    height: 36px;
    text-align: center;
    display: inline-block;
    vertical-align: middle;
}

.notifications-dropdown .notification .notification-icon i {
    line-height: 36px;
    width: auto;
    color: #fff;
}

.notifications-dropdown .notification .notification-text {
    display: inline-block;
    vertical-align: middle;
}

.notifications-dropdown .notification .notification-text p {
    margin: 0 0 0 10px;
    color: #9E9E9E;
    font-size: 13px;
}

.notifications-dropdown .notification .notification-text p b {
    color: #333;
}

.notifications-dropdown .notification .notification-text span {
    margin: 0 0 0 10px;
    color: #BDBDBD;
    font-size: 12px;
}

/* Dropdown */

.dropdown-content li {
    min-height: 0px;
}

.dropdown-content li > a,
.dropdown-content li > span {
    padding: 8px 20px;
    font-size: 13px;
    color: #4C4C4C;
}

.dropdown-content li a i {
    display: inline-block;
    height: auto;
    line-height: inherit;
    font-size: 18px;
    vertical-align: top;
    width: 28px;
    text-align: left;
}

.divider {
    height: 1px;
    margin: 8px 0;
    overflow: hidden;
    background-color: #EEEEEE;
}


/* Titles */

.card-title small {
    color: rgba(0,0,0,0.54);
    font-weight: bold;
    float: right;
}

.heading-title {
    line-height: 24px;
    font-size: 17px;
    font-weight: normal;
    display: block;
    margin-bottom: 20px;
}


/* Colors */

.dynamic-color .red,
.dynamic-color .pink,
.dynamic-color .purple,
.dynamic-color .deep-purple, 
.dynamic-color .indigo, 
.dynamic-color .blue, 
.dynamic-color .light-blue, 
.dynamic-color .cyan, 
.dynamic-color .teal, 
.dynamic-color .green, 
.dynamic-color .light-green, 
.dynamic-color .lime, 
.dynamic-color .yellow, 
.dynamic-color .amber, 
.dynamic-color .orange, 
.dynamic-color .deep-orange, 
.dynamic-color .brown, 
.dynamic-color .grey, 
.dynamic-color .blue-grey, 
.dynamic-color .black, 
.dynamic-color .white, 
.dynamic-color .transparent {
    height: 55px;
    line-height: 55px;
    padding: 0 15px;
    font-weight: 500;
    font-size: 12px;
    display: block;
    -webkit-box-sizing: border-box;
    -moz-box-sizing: border-box;
    box-sizing: border-box;
}


/* Collections */

.collection .collection-item.active {
    background-color: #DDDDDD;
    color: #343434;
}

.collection a.collection-item:not(.active):hover {
    background-color: #f2f2f2;
}


/* CSS Utilities */
/* Typography */

.f-thin {
    font-weight: 300;
}

.f-normal {
    font-weight: normal;
}

.f-bold {
    font-weight: 600;
}

.f-s-10 {
    font-size: 10px;
}

.f-s-11 {
    font-size: 11px;
}

.f-s-12 {
    font-size: 12px;
}

.f-s-13 {
    font-size: 13px;
}

.f-s-14 {
    font-size: 14px;
}

.f-s-15 {
    font-size: 15px;
}

.f-s-16 {
    font-size: 16px;
}

.f-s-17 {
    font-size: 17px;
}

.f-s-18 {
    font-size: 18px;
}

.f-s-20 {
    font-size: 20px;
}

.f-s-22 {
    font-size: 22px;
}

.f-s-24 {
    font-size: 24px;
}

.f-s-26 {
    font-size: 26px;
}

.f-s-28 {
    font-size: 28px;
}

.f-s-30 {
    font-size: 30px;
}

.f-s-32 {
    font-size: 32px;
}

.secondary-link {
    font-size: 13px;
    color: #2196f3;
    font-weight: bold;
}


/* Position */

.position-top-right,
.position-top-left,
.position-bottom-right,
.position-bottom-left {
    position: absolute;
}

.position-top-right {
    top: 0;
    right: 0;
}

.position-top-left {
    top: 0;
    left: 0;
}

.position-bottom-right {
    bottom: 0;
    right: 0;
}

.position-bottom-left {
    bottom: 0;
    right: 0;
}


/* Box Shadow */

.bs-n {
    -webkit-box-shadow: none;
    -moz-box-shadow: none;
    box-shadow: none;
}

.bs-dark {
    -webkit-box-shadow: 0 0 3px rgba(0, 0, 0, .6);
    -moz-box-shadow: 0 0 3px rgba(0, 0, 0, .6);
    box-shadow: 0 0 3px rgba(0, 0, 0, .6);
}

.bs-light {
    -webkit-box-shadow: 0 0 3px rgba(0, 0, 0, .3);
    -moz-box-shadow: 0 0 3px rgba(0, 0, 0, .3);
    box-shadow: 0 0 3px rgba(0, 0, 0, .3);
}

.bs-t {
    -webkit-box-shadow: 0 -1px 1px rgba(0, 0, 0, .05);
    -moz-box-shadow: 0 -1px 1px rgba(0, 0, 0, .05);
    box-shadow: 0 -1px 1px rgba(0, 0, 0, .05);
}

.bs-r {
    -webkit-box-shadow: 1px 0 1px rgba(0, 0, 0, .05);
    -moz-box-shadow: 1px 0 1px rgba(0, 0, 0, .05);
    box-shadow: 1px 0 1px rgba(0, 0, 0, .05);
}

.bs-b {
    -webkit-box-shadow: 0 1px 1px rgba(0, 0, 0, .05);
    -moz-box-shadow: 0 1px 1px rgba(0, 0, 0, .05);
    box-shadow: 0 1px 1px rgba(0, 0, 0, .05);
}

.bs-l {
    -webkit-box-shadow: -1px 0 1px rgba(0, 0, 0, .05);
    -moz-box-shadow: -1px 0 1px rgba(0, 0, 0, .05);
    box-shadow: -1px 0 1px rgba(0, 0, 0, .05);
}


/* Margins & Paddings */

.no-s {
    margin: 0px!important;
    padding: 0px!important;
}

.no-m {
    margin: 0!important;
}

.no-m-t {
    margin-top: 0!important;
}

.no-m-r {
    margin-right: 0!important;
}

.no-m-b {
    margin-bottom: 0!important;
}

.no-m-l {
    margin-left: 0!important;
}
.no-p {
    padding: 0!important;
}

.m {
    margin: 15px;
}

.m-t-xxs {
    margin-top: 5px;
}

.m-r-xxs {
    margin-right: 5px;
}

.m-b-xxs {
    margin-bottom: 5px;
}

.m-l-xxs {
    margin-left: 5px;
}

.m-t-xs {
    margin-top: 10px;
}

.m-r-xs {
    margin-right: 10px;
}

.m-b-xs {
    margin-bottom: 10px;
}

.m-l-xs {
    margin-left: 10px;
}

.m-t-sm {
    margin-top: 15px;
}

.m-r-sm {
    margin-right: 15px;
}

.m-b-sm {
    margin-bottom: 15px;
}

.m-l-sm {
    margin-left: 15px;
}

.m-t-md {
    margin-top: 20px;
}

.m-r-md {
    margin-right: 20px;
}

.m-b-md {
    margin-bottom: 20px;
}

.m-l-md {
    margin-left: 20px;
}

.m-t-lg {
    margin-top: 25px;
}

.m-r-lg {
    margin-right: 25px;
}

.m-b-lg {
    margin-bottom: 25px;
}

.m-l-lg {
    margin-left: 25px;
}

.m-t-xxl {
    margin-top: 30px;
}

.m-r-xxl {
    margin-right: 30px;
}

.m-b-xxl {
    margin-bottom: 30px;
}

.m-l-xxl {
    margin-left: 30px;
}

.m-t-n-xxs {
    margin-top: -5px;
}

.m-r-n-xxs {
    margin-right: -5px;
}

.m-b-n-xxs {
    margin-bottom: -5px;
}

.m-l-n-xxs {
    margin-left: -5px;
}

.m-t-n-xs {
    margin-top: -10px;
}

.m-r-n-xs {
    margin-right: -10px;
}

.m-b-n-xs {
    margin-bottom: -10px;
}

.m-l-n-xs {
    margin-left: -10px;
}

.m-t-n-sm {
    margin-top: -15px;
}

.m-r-n-sm {
    margin-right: -15px;
}

.m-b-n-sm {
    margin-bottom: -15px;
}

.m-l-n-sm {
    margin-left: -15px;
}

.m-t-n-md {
    margin-top: -20px;
}

.m-r-n-md {
    margin-right: -20px;
}

.m-b-n-md {
    margin-bottom: -20px;
}

.m-l-n-md {
    margin-left: -20px;
}

.m-t-n-lg {
    margin-top: -25px;
}

.m-r-n-lg {
    margin-right: -25px;
}

.m-b-n-lg {
    margin-bottom: -25px;
}

.m-l-n-lg {
    margin-left: -25px;
}

.m-t-n-xxl {
    margin-top: -30px;
}

.m-r-n-xxl {
    margin-right: -30px;
}

.m-b-n-xxl {
    margin-bottom: -30px;
}

.m-l-n-xxl {
    margin-left: -30px;
}

.p {
    padding: 15px;
}

.p-h-xxs {
    padding-left: 5px;
    padding-right: 5px;
}

.p-h-xs {
    padding-left: 10px;
    padding-right: 10px;
}

.p-h-sm {
    padding-left: 15px;
    padding-right: 15px;
}

.no-p-h {
    padding-left: 0!important;
    padding-right: 0!important;
}

.no-p-v {
    padding-top: 0;
    padding-bottom: 0;
}

.p-h-md {
    padding-left: 20px;
    padding-right: 20px;
}

.p-h-lg {
    padding-left: 25px;
    padding-right: 25px;
}

.p-h-xxl {
    padding-left: 30px;
    padding-right: 30px;
}

.p-v-xxs {
    padding-top: 5px;
    padding-bottom: 5px;
}

.p-v-xs {
    padding-top: 10px;
    padding-bottom: 10px;
}

.p-v-sm {
    padding-top: 15px;
    padding-bottom: 15px;
}

.p-v-md {
    padding-top: 20px;
    padding-bottom: 20px;
}

.p-v-lg {
    padding-top: 25px;
    padding-bottom: 25px;
}

.p-v-xxl {
    padding-top: 30px;
    padding-bottom: 30px;
}


/* Header */

.header-text {
    font-size: 15px;
    font-weight: bold;
}


/* Search */

.search {
    margin-top: 6px;
    margin-left: -44px;
    line-height: 48px;
    height: 48px;
    border-radius: 2px;
    overflow: hidden;
}

.input-field input[type=search]:focus {
    background: rgba(255,255,255,0.18);
    color: #fff;
}

.search input::-webkit-input-placeholder {
    color: rgba(255,255,255,0.75)!important;
    -webkit-transition: all .3s;
    -moz-transition: all .3s;
    -o-transition: all .3s;
    transition: all .3s;
}
 
.search input:-moz-placeholder {
    color: rgba(255,255,255,0.75)!important;
}
 
.search input::-moz-placeholder {
    color: rgba(255,255,255,0.75)!important;  
}
 
.search input:-ms-input-placeholder {
    color: rgba(255,255,255,0.75)!important;  
}

.search input:focus::-webkit-input-placeholder {
    color: #fff!important;
}
 
.search input:focus:-moz-placeholder {
    color: #fff!important;
}
 
.search input:focus::-moz-placeholder {
    color: #fff!important;  
}
 
.search input:focus:-ms-input-placeholder {
    color: #fff!important;  
}

.search-icon {
    line-height: 48px!important;
    font-size: 20px!important;
    color: rgba(255,255,255,0.75)!important;
}

.search .input-field {
    margin-left: -44px;
    height: 48px;
}

.input-field input[type=search]+label {
    left: 50px;
}

.input-field input[type=search]:focus+label .search-icon { 
    color: #fff!important;
}

.search input {
    padding: 0;
    margin: 0;
    font-size: 15px!important;
    background: rgba(255,255,255,0.18);
}

.input-field input[type=search] {
    font-size: 15px!important;
    width: 100%;
    padding-left: 85px;
}


@media (max-width: 600px) {
    .search {
        position: absolute;
        z-index: 999;
        float: none!important;
        background: #fff;
        margin: 0;
        padding: 0!important;
        left: -16px!important;
        height: 60px;
        right: -16px!important;
        border-radius: 0;
        width: calc(100% + 32px)!important;
    }
    
    .search.hide-on-small-and-down {
    }
    
    .search .input-field {
        height: 60px;
    }
    
    .input-field input[type=search] {
        color: rgba(0,0,0,0.6)!important;
        line-height: 60px;
        padding: 0 54.5px 0 76.5px!important;
        font-weight: normal;
        width: calc(100% - 130.5px);
    }
    
    .input-field input[type=search]:focus {
        color: #333!important;
    }
    
    .search input::-webkit-input-placeholder {
        color: rgba(0,0,0,0.6)!important;
        -webkit-transition: all .3s;
        -moz-transition: all .3s;
        -o-transition: all .3s;
        transition: all .3s;
    }
    
    .search input:focus::-webkit-input-placeholder {
        color: rgba(0,0,0,0.75)!important;
    }
    
    .search input[type=search]:focus:not([readonly]) {
        border-bottom: none;
        box-shadow: none;
    }
    
    .close-search {
        display: block!important;
    }
}

.close-search {
    right: 32.5px;
    position: absolute;
    top: 0;
    display: none;
}

.close-search i {
    color: rgba(0,0,0,.5)!important;
}


/* Container */

@media screen and (min-width: 1240px) {
    .container {
        margin: auto;
        max-width: 1200px;
    }
}


/* Page Title */

.page-title {
    float: left;
    margin: 0 8px 5px 8px;
    color: #555;
    line-height: 37px;
    text-transform: uppercase;
}

.page-title-buttons {
    float: right;
    margin: 0 10px 5px 10px;
}

.page-title-buttons a {
    box-shadow: none!important;
}

.page-title-buttons a i {
    color: #555;
}


/* Drag Target */

.drag-target {
    z-index: 996;
}


/* Menu */

@media only screen and (max-width: 992px) {
    .side-nav.fixed {
        -webkit-transform: translateX(0%);
        transform: translateX(0%);
    }
}

.side-nav {
    padding: 0!important;
    height: calc(100% - 60px)!important;
    margin-top: 60px;
    z-index: 997;
    width: 130px;
}

#sidenav-overlay {
    display: none;
}

.sidebar-menu {
    padding-top: 15px!important;
    padding-bottom: 15px!important;
}

@media (min-width: 600px) {
    .drag-target {
        display: none;
    }
}

.side-nav-wrapper {
    min-height: 100%!important;
    background: #564f33;
    padding-bottom: 96px;
    position: relative;
}

.side-nav ul li,
.side-nav.fixed ul li {
    padding: 0;
    -webkit-transition: all .3s;
    -moz-transition: all .3s;
    -o-transition: all .3s;
    transition: all .3s;
}

.nav-drop-icon {
    float: right!important;
    -webkit-transition: all .3s;
    -moz-transition: all .3s;
    -o-transition: all .3s;
    transition: all .3s;
}

li.active .nav-drop-icon {
    -webkit-transform: rotate(90deg);
    -moz-transform: rotate(90deg);
    -ms-transform: rotate(90deg);
    -o-transform: rotate(90deg);
    filter: progid:DXImageTransform.Microsoft.BasicImage(rotation=-3);
}

.side-nav ul li a,
.side-nav.fixed ul li a {
	vertical-align: center;
    font-size: 14px;
    height: auto!important;
    color: rgba(0,0,0,0.7);
    padding: 15px 15px 15px 15px!important;
    line-height: 1em!important;
}

.side-nav ul li a.active:hover,
.side-nav.fixed ul li a.active:hover {
    background-color: #564f33;
}

.side-nav ul li a span.badge,
.side-nav.fixed ul li a span.badge {
    padding: 3px 6px;
    margin-top: -3px;
    font-size: 12px;
    min-width: auto!important;
    margin-right: 5px;
}

.side-nav ul li a span.badge.new:after,
.side-nav.fixed ul li a span.badge.new:after {
    content: ""!important;
}

.side-nav ul li a.active-page,
.side-nav.fixed ul li a.active-page {
    font-weight: 500;
    color: rgba(0,0,0,0.9);
}

.side-nav ul ul li a,
.side-nav.fixed ul ul li a {
    border-left: 2px solid transparent;
    color: rgba(0,0,0,.9);
    display: block;
    font-weight: 400;
    letter-spacing: 0.1px;
    padding: 11.5px 24px 11.5px 60px!important;
    white-space: nowrap;
    margin: 0!important;
}

.side-nav ul ul li a:hover,
.side-nav.fixed ul ul li a:hover {
    background-color: #E3E3E3!important;
}

.side-nav ul li:hover,
.side-nav.fixed ul li:hover {
    background: none;
}

.side-nav ul li.divider:hover,
.side-nav.fixed ul li.divider:hover {
    background-color: #ECECEC;
}

.side-nav li a {
    -webkit-transition: all 0s;
    -moz-transition: all 0s;
    -o-transition: all 0s;
    transition: all 0s;
}

.side-nav li a:hover {
    background-color: #564f33!important;
    -webkit-transition: all 0s;
    -moz-transition: all 0s;
    -o-transition: all 0s;
    transition: all 0s;
}

.side-nav ul li:focus,
.side-nav.fixed ul li:focus,
.side-nav ul li.active,
.side-nav.fixed ul li.active {
    background-color: #564f33!important;
}

.side-nav.fixed ul li.active > a.collapsible-header,
.side-nav.fixed ul li.active > a {
    font-weight: 500;
}

.side-nav ul li a i {
    font-size: 19px;
    vertical-align: middle;
    margin-right: 20px;
    color: #67696A;
}

.side-nav ul li a i.material-icons {
    line-height: inherit;
    margin: 0 20px 0 0;
    width: auto;
}

.side-nav .collapsible-header {
    margin: 0;
    line-height: 1em;
}

.side-nav .collapsible-body, 
.side-nav.fixed .collapsible-body {
    background-color: transparent;
}
.collapsible-header i {
    width: auto;
    font-size: 20px;
    line-height: inherit;
    display: inline-block;
    text-align: left;
    margin-right: 15px;
}

.side-nav .sidenav-logo {
    position: relative;
}

.side-nav .sidenav-logo a {
    padding: 12px 0 11px 24px;
    color: #767676;
    line-height: 40px;
    font-size: 24px;
    font-weight: bold;
    border-bottom: 1px solid #E0E0E0;
}

@media (max-width: 600px) {
    .side-nav .sidenav-logo a {
        height: 56px;
        padding: 8px 0 7px 24px;
    }
}

.footer {
    border-top: 1px solid #e0e0e0;
    bottom: 0;
    color: #212121;
    font-size: 13px;
    height: 96px;
    line-height: 24px;
    padding: 24px;
    position: absolute;
    width: 100%;
}

.footer .copyright {
    margin: 0;
}

.footer a {
    color: #0277bb!important;
    display: inline-block!important;
    font-size: 13px;
    height: auto;
    line-height: 24px;
    padding: 0!important;
}

.footer a:hover {
    background: transparent;
}

.sidebar-profile {
    padding: 25px 24px;
    background: url('../images/profile_bg.png');
    background-size: cover;
}

.sidebar-profile .sidebar-profile-image img {
    width: 50px;
    height: 50px;
}

.sidebar-profile .sidebar-profile-info {
    margin-top: 5px;
}

.sidebar-profile .sidebar-profile-info p {
    color: #000;
    font-size: 14px;
    margin: 0;
    font-weight: bold;
}

.sidebar-profile .sidebar-profile-info span {
    color: #555;
    font-size: 13px;
}

.sidebar-profile .sidebar-profile-info i {
    color: #555;
    font-size: 19px;
}

.sidebar-profile .sidebar-profile-info a {
    height: auto;
    line-height: 1.5;
    padding: 0;
}

.sidebar-profile .sidebar-profile-info a:hover {
    background: transparent;
}

.left-sidebar-hover {
    position: fixed;
    background: transparent;
    width: 13.25px;
    left: 0;
    top: 0;
    bottom: 0;
}

.left-sidebar-hover.right-sidebar {
    right: 0;
    left: auto;
}


/* Content */

.middle-content {
    padding-top: 25px;
    padding-right: 25px;
    float: left;
    width: calc(100% - 220px)!important;
}

.mn-inner {
    padding: 25px 25px 9.5px 25px;
    min-height: calc(100% - 181px);
}

.mn-inner.hidden-fixed-sidebar {
    padding-left: 25px!important;
}

.mn-inner.inner-active-sidebar {
    padding-top: 0;
    padding-right: 0;
    padding-bottom: 0;
    overflow: hidden;
}

.signin-page .mn-inner,
.signup-page .mn-inner {
    min-height: 0px!important;
}


/* Inner Sidebar */

@media only screen and (min-width: 993px) and (max-width: 1200px) {
    .inner-sidebar {
        display: none!important;
    }
    
    .middle-content {
        width: 100%!important;
    }
}

@media only screen and (max-width: 600px)  {
    .inner-sidebar {
        display: none!important;
    }
    
    .middle-content {
        width: 100%!important;
    }
}

.inner-sidebar {
    display: block;
    background: #e8e8ea;
    width: 220px;
    float: right;
    min-height: calc(100% - 156px);
    padding: 5px 25px 5px 25px;
}

.inner-sidebar-title {
    line-height: 24px;
    font-size: 13px;
    font-weight: bold;
    display: block;
    text-transform: uppercase;
    margin: 30px -25px 20px -25px;
    padding: 4px 25px;
    color: rgba(0,0,0,0.54);
}

.inner-sidebar .inner-sidebar-title:first-child {
    margin-top: 20px!important;
}

.inner-sidebar-title i {
    font-size: 16px;
    float: right;
    line-height: 24px;
}

.inner-sidebar-divider {
    width: 100%;
    height: 1px;
    background: rgba(0,0,0,.07);
    margin: 8px 0;
}

.inner-sidebar .info-item {
    overflow: hidden;
    display: block;
    width: 100%;
    font-size: 13px;
}

.inner-sidebar .info-item .message-info {
    float: left;
    margin-left: 15px;
}

.inner-sidebar .info-item .message-info small {
    font-size: 12px;
    color: rgba(0,0,0,0.45);
}

.inner-sidebar .info-item.message-item {
    padding-bottom: 10px;
    padding-top: 10px;
}

.inner-sidebar .message-list .info-item.message-item:first-child {
    padding-top: 0!important;
}

.inner-sidebar .message-list .info-item.message-item:last-child {
    padding-bottom: 0!important;
}

.inner-sidebar .info-item img {
    float: left;
    width: 40px;    
    box-shadow: 0 2px 5px 0 rgba(0,0,0,0.08),0 2px 10px 0 rgba(0,0,0,0.06);
}

.inner-sidebar .info-item.disabled {
    opacity: 0.5;
}

.inner-sidebar .info-item .badge {
    min-width: auto!important;
    font-size: 11px;
    padding: 3px 6px;
}

.inner-sidebar .info-item .badge:after {
    content: '';
}

.sidebar-radar-chart {
    padding-bottom: 15px;
}


/* Cards */

.card,
.card-panel {
    box-shadow: 0 2px 2px 0 rgba(0, 0, 0, 0.05), 
        0 3px 1px -2px rgba(0, 0, 0, 0.08), 
        0 1px 5px 0 rgba(0, 0, 0, 0.08);
    position: relative;
}

.card.card-transparent {
    background: transparent;
    box-shadow: none;
}

.card > .card-content > .card-title,
.card-panel > .card-content > .card-title,
.card > .card-reveal > .card-title {
    line-height: 24px;
    font-size: 13px;
    font-weight: bold;
    display: block;
    margin-bottom: 20px;
    text-transform: uppercase;
    color: rgba(0,0,0,0.54);
}

.card .card-image .card-title {
    color: #fff;
}

.card.white-text .card-title {
    color: #fff;
}

.card .card-title i {
    font-size: 22px;
    line-height: 24px;
    vertical-align: top;
    margin-right: 10px;
}

.card .card-options .badge {
    right: 15px;
    top: 20px;
    color: #fff;
    font-size: 11px;
    font-weight: 600;
    padding: 2px 6px;
    text-shadow: none;
    min-width: auto;
}


/* Code */

code {
    font-size: 85%;
    display: inline-block;
    background-color: rgba(0,0,0,.06);
    border-radius: 3px;
    white-space: pre-wrap;
}

code:before,
code:after {
    letter-spacing: -.2em;
    content: "\00a0";
}

/* Shadow */

.shadow-demo {
    background-color: #607d8b;
    width: 100px;
    height: 100px;
    margin: 20px auto!important;
}


/* Blockquote */

blockquote {
    border-left: 5px solid #607d8b;
}


/* Modals */

.modal .modal-content h4 {
    line-height: 24px;
    font-size: 13px;
    font-weight: bold;
    display: block;
    margin-bottom: 20px;
    text-transform: uppercase;
    color: rgba(0,0,0,0.54);
}

.modal .modal-content p {
    margin: 15px 0;
}


/* Collapsible */

.collapsible {
    -webkit-box-shadow: 0 1px 2px rgba(0,0,0,0.15);
    box-shadow: 0 1px 2px rgba(0,0,0,0.15);
}


/* Card Options */

.card-options {
    position: absolute;
    top: 0;
    right: 0;
    z-index: 9;
    padding: 20px;
}

.card-options > ul {
    margin: 0;
    overflow: hidden;
}

.card-options > ul > li {
    display: inline-block;
    color: rgba(0,0,0,0.54);
    font-weight: bold;
    font-size: 13px;
}

.card-options > ul > li > a {
    color: #aaa;
    -webkit-transition: all .3s;
    -moz-transition: all .3s;
    -o-transition: all .3s;
    transition: all .3s;
}

.card-options > ul > li > a:hover {
    color: #333;
}

.card-options > ul > li > a > i {
    font-size: 17px;
    line-height: 24px;
}

.card-image .card-options > ul > li > a {
    color: #ccc;
}

.card-image .card-options > ul > li > a:hover {
    color: #fff;
}

.card-options > ul > li > span {
    padding: 5px;
    border-radius: 2px;
    font-size: 12px;
}

.card .card-action a:not(.btn):not(.btn-large):not(.btn-floating) {
    color: #EE3182;
}

.card .card-action a:not(.btn):not(.btn-large):not(.btn-floating):hover {
    color: #f48fb1;
}



/* Right Sidebar */

#chat-sidebar {
    overflow: hidden;
}

#chat-sidebar .side-nav-wrapper {
    height: 100%!important;
    min-height: 100%!important;
    padding-bottom: 48px;
}

.right-sidebar-heading {
    margin: 15px;
    font-weight: bold;
    font-size: 12px;
    text-align: center;
}

#chat-sidebar .tabs .tab a {
    font-size: 11px;
    line-height: 18px!important;
    padding: 15px 0 15px 5px!important;
    text-align: center;
    color: #555;
    font-weight: 500;
}

#chat-sidebar .tabs .tab a:hover {
    background: none!important;
}

#chat-sidebar .tabs {
    border-bottom: 1px solid #eee;
    background: #f7f7f7;
    box-shadow: none!important;
}

.right-sidebar-panel {
    overflow-y: auto;
    position: relative;
    height: 100%;
}

.sidebar-notifications .notifications-list .notification {
    padding: 10px 15px;
    border-top: 1px solid #eee;
    overflow: hidden;
}

.sidebar-notifications .notifications-list .notification.unread {
    background: #f7f7f7;
}

.sidebar-notifications .notifications-list .notification .notification-icon i.circle {
    font-size: 12px;
    padding: 7px;
    color: #fff;
    margin-right: 5px;
}

.sidebar-notifications .notifications-list .notification .notification-icon {
    float: left;
    display: block;
}

.sidebar-notifications .notifications-list .notification .notification-text {
    padding-left: 40px;
}

.sidebar-notifications .notifications-list .notification .notification-text p {
    margin: 0;
    font-size: 14px;
    padding-top: 3px;
}

.sidebar-notifications .notifications-list .notifications-load-more { 
    text-align: center;
}

.sidebar-notifications .notifications-list .notifications-load-more a:hover { 
    background: none;
}

.sidebar-notifications .notifications-list .notifications-load-more a { 
    color: #0277bb;
    font-size: 13px;
}

.sidebar-messages .chat-list {
    overflow-y: auto;
    height: calc(100% - 101px);
}

.sidebar-messages .chat-list .chat-item {
    padding: 10px 15px;
    border-top: 1px solid #eee;
    overflow: hidden;
}

.sidebar-messages .chat-list .chat-item .chat-item-image {
    float: left;
    display: block;
}

.sidebar-messages .chat-list .chat-item .chat-item-image img {
    width: 40px;
}

.sidebar-messages .chat-list .chat-item .chat-item-info {
    padding-left: 50px;
}

.sidebar-messages .chat-list .chat-item .chat-item-info .chat-name {
    margin: 0;
    color: rgba(0,0,0,0.75);
}

.sidebar-messages .chat-list .chat-item .chat-item-info .chat-message {
    color: rgba(0,0,0,0.54);
    font-size: 12px;
}

.sidebar-messages .chat-list a {
    height: auto;
    line-height: 1.5;
    padding: 0;
}

.sidebar-messages .chat-list a:hover {
    background: #f7f7f7;
}

.sidebar-messages {
    position: relative;
}

.sidebar-messages .chat-sidebar-options {
    position: absolute;
    bottom: 0;
    left: 0;
    right: 0;
}

.chat-sidebar-options a {
    color: #AAAAAA;
    height: auto;
    line-height: 1em;
    padding: 10px 5px;
    margin: 0 15px
}

.chat-sidebar-options a:hover {
    background: none!important;
}

.chat-sidebar-options a i {
    font-size: 20px;
}

@media only screen and (max-width: 601px) {
    #chat-messages {
        width: 100%!important;
    }
}

#chat-messages .sidebar-chat-name {
    border-bottom: 1px solid #eee;
    padding-left: 25px;
    padding-right: 25px;
    padding-bottom: 20px;
    padding-top: 10px;
}

#chat-messages .sidebar-chat-name a {
    float: right;
    color: #444;
    display: inline;
    font-size: 19px;
    height: auto;
    line-height: 1.5;
    padding: 0;
}

#chat-messages .sidebar-chat-name a:hover {
    background: none;
}

.message-wrapper {
    position: relative;
    overflow: hidden;
    width: 100%;
    margin: 8px 0;
    padding: 8px 0;
}

.message-wrapper .circle-wrapper {
    height: 38px;
    width: 38px;
    background: none!important;
}

.message-wrapper .circle-wrapper a {
    height: auto;
    line-height: 1.5;
    padding: 0;
}

.message-wrapper .circle-wrapper img {
    height: 38px;
    width: 38px;
}

.message-wrapper .text-wrapper {
    padding: 10px;
    min-height: 38px;
    max-width: 60%;
    margin: 0 10px;
    box-shadow: 0 1px 2px rgba(0,0,0,0.15);
    position: relative;
    font-size: 13px;
    font-weight: 400;
    line-height: 1.8;
}

.message-wrapper .text-wrapper + .text-wrapper {
    margin-top: 5px;
    clear: both;
}

.message-wrapper.them .text-wrapper + .text-wrapper {
    margin-left: 48px;
}

.message-wrapper.me .text-wrapper + .text-wrapper {
    margin-right: 48px;
}

.message-wrapper .text-wrapper + .text-wrapper:before {
    border-color: transparent!important;
}

.message-wrapper .text-wrapper:before {
    content: '';
    width: 0;
    height: 0;
    border-style: solid;
}

.message-wrapper.them .circle-wrapper, .message-wrapper.them .text-wrapper {
    background: #607d8b;
    float: left;
    color: #ffffff;
}

.message-wrapper.them .text-wrapper:before {
    border-width: 0 10px 10px 0;
    border-color: transparent #607d8b transparent transparent;
    position: absolute;
    top: 0;
    left: -9px;
}

.message-wrapper.me .circle-wrapper, .message-wrapper.me .text-wrapper {
    background: #eceff1;
    float: right;
    color: #333333;
}

.message-wrapper.me .text-wrapper {
    background: #eceff1;
}

.message-wrapper.me .text-wrapper:before {
    border-width: 10px 10px 0 0;
    border-color: #eceff1 transparent transparent transparent;
    position: absolute;
    top: 0;
    right: -9px;
}

#chat-messages {
    overflow-y: hidden;
}

.messages-container {
    padding: 10px 25px;
    overflow-y: auto;
    height: calc(100% - 147px);
}

.message-compose-box {
    position: absolute;
    bottom: 0;
    left: 0;
    right: 0;
    z-index: 99999;
    padding: 0 20px;
    width: 100%;
    background: #fff;
}

.settings-list .setting-item {
    border-top: 1px solid #eee;
    padding: 15px 15px;
    overflow: hidden;
}

.settings-list .setting-item .setting-text {
    float: left;
    font-size: 13px;
}

.settings-list .setting-item .setting-set {
    float: right;
}


/* Search Results */

.search-results {
    position: fixed;
    top: 60px;
    left: 0;
    bottom: 0;
    right: 0;
    background: rgba(255,255,255,.98);
    z-index: 998;
    overflow-y: auto;
    display: none;
}

.search-container {
    padding: 57px 13.25px 9.5px 13.25px;
}

.search-head {
    margin-bottom: 50px;
}

.search-results-title {
    margin: 0;
    font-size: 18px;
    font-weight: 500;
    line-height: 37px;
    color: rgba(0,0,0,0.6);
}

.search-filter [type="checkbox"].filled-in:not(:checked)+label:after {
    height: 15px;
    width: 15px;
}

.search-filter [type="checkbox"].filled-in:checked+label:before {
    width: 6px;
    height: 9.75px;
}

.search-filter [type="checkbox"]+label {
    position: relative;
    padding-left: 25px;
    cursor: pointer;
    display: inline-block;
    height: 18px;
    line-height: 18px;
    font-size: 13px;
}

.search-filter [type="checkbox"].filled-in:checked+label:after {
    width: 15px;
    height: 15px;
}

.search-filter [type="checkbox"]:checked+label:before {
    border-right: 2px solid #fff;
    border-bottom: 2px solid #fff;
}

.search-filter [type="checkbox"].filled-in:checked+label:after {
    border: 2px solid #616161;
    background-color: #616161;
}

.search-result-highlight {
    font-weight: bold;
    color: #333;
}

.search-result-text {
    color: rgba(0,0,0,0.7)!important;
}

.search-result-container .row {
    margin-bottom: 70px;
}

.search-result-container img {
    width: 50px;
}

.secondary-search-text {
    clear: both;
    color: #a6a8ab;
    font-size: 13px!important;
    font-weight: 400;
    display: block;
}

.secondary-search-text a:hover {
    text-decoration: underline;
}

.search-result-container .col.s3 img {
    margin-top: 6px;
    margin: auto;
    display: block;
}

.search-result-container .col.s3 .search-circle {
    margin-top: 6px;
    margin-bottom: 6px;
    margin: auto;
    display: block;
}

.search-result-container .search-circle {
    width: 50px;
    height: 50px;
    display: inline-block;
    vertical-align: middle;
    font-size: 15px;
    color: #fff;
    font-weight: 300;
    padding-top: 14px;
    padding-left: 19.5px;
    font-weight: 500;
}

.search-file .circle {
    width: 100%;
    height: 100%;
}

.search-container .card-content,
.search-container .card-action {
    padding: 20px 20px 20px 0;
}

.search-container .card-content.first {
    padding-top: 0px;
}

.res-not-found {
    color: #ccc;
    font-size: 32px;
    font-weight: bold;
    margin-top: -60px;
}


/* Dashboard */

.stats-counter {
    float: left;
    font-size: 24px;
    font-weight: 400;
    color: rgba(0,0,0,0.6);
    margin-bottom: 0px!important;
    display: block;
}

.stats-counter small {
    color: rgba(0,0,0,0.55);
    font-size: 13px;
    margin-top: 5px;
    margin-left: 8px;
    font-weight: 500;
}

#sparkline-bar {
    height: 40px;
    margin-top: -30px;
}

#sparkline-line {
    height: 42px;
    margin-top: -32px;
}

#sparkline-line canvas {
    margin-left: -2px;
    margin-right: -2px;
}

#sparkline-bar canvas {
    z-index: 1;
}

.stats-card-progress {
    background: #b2ebf2;
    border-bottom-left-radius: 2px!important;
    border-bottom-right-radius: 2px!important;
}

.stats-card-progress .determinate {
    background: #26c6da;
    border-bottom-left-radius: 2px;
}

.stats-card .card-content {
    z-index: 2;
    position: relative;
    overflow: hidden;
}

.stats-card .percent-info {
    margin-top: 12px;
}

.percent-info {
    float: right;
    font-size: 13px;
    font-weight: bold;
}

.percent-info i {
    font-size: 18px;
    vertical-align: top;
}

.stats-info {
    margin-bottom: 22px;
}

.stats-info h5 {
    margin-left: 20px;
    text-transform: uppercase;
    font-size: 13px;
    font-weight: bold;
    color: rgba(0,0,0,0.6)
}

.stats-info ul li {
    padding: 12px 0;
    border-bottom: 1px solid #E0E0E0;
    font-size: 13px;
}

.stats-info ul li:last-child {
    border-bottom: 0;
}

.stats-info ul {
    margin: 0px;
}

input.expand-search {
    border-radius: 20px;
    background: #f1f1f1;
    border: 0!important;
    font-size: 13px;
    padding: 2px 10px;
    height: 24px;
    width: 40px;
    margin-top: -2px;
}

input.expand-search::-webkit-input-placeholder {
    color: #aaa!important;
}
 
input.expand-search:-moz-placeholder {
    color: #aaa!important;
}
 
input.expand-search::-moz-placeholder {
    color: #aaa!important;
}

input.expand-search:-ms-input-placeholder {
    color: #aaa!important;
}

input.expand-search.open-search {
    width: 100px;
    padding: 2px 15px;
}

input.expand-search[type=text]:focus:not([readonly]), input.expand-search[type=password]:focus:not([readonly]), input.expand-search[type=email]:focus:not([readonly]), input.expand-search[type=url]:focus:not([readonly]), input.expand-search[type=time]:focus:not([readonly]), input.expand-search[type=date]:focus:not([readonly]), input.expand-search[type=datetime-local]:focus:not([readonly]), input.expand-search[type=tel]:focus:not([readonly]), input.expand-search[type=number]:focus:not([readonly]), input.expand-search[type=search]:focus:not([readonly]) {
    border-bottom: none!important;
    box-shadow: none!important;
}

#flotchart1 {
    width: 100%;
    height: 330px;
}

#flotchart2 {
    width: 100%;
    height: 120px;
}

#flotTip {
    border-radius: 0;
    background: rgba(51,51,51,0.8);
    color: #fff;
    padding: 5px;
    font-size: 13px!important;
    z-index: 999;
}

.server-load > .server-stat {
    display: inline-block;
    margin-bottom: 5px;
    padding-left: 0;
    margin-top: 10px;
}

.server-load .server-stat span {
    font-size: 13px;
    margin-top: 3px;
    font-weight: 400;
    color: #aaa;
}

.server-load .server-stat p {
    font-weight: 600;
    font-size: 16px;
    color: rgba(0,0,0,0.6);
}

.secondary-title {
    font-size: 12px;
    text-transform: none;
    display: block;
    font-weight: normal;
    color: #aaa;
}

.invoices-card table tbody tr:last-child {
    border: 0;
}

.invoices-card table tbody tr td.status {
    font-weight: bold;
}

.invoices-card table i {
    font-size: 18px;
    vertical-align: middle;
    color: #555;
}


/* Progress */

.progress {
    border-radius: 0px;
}


/* Media */

.media-iframe-example {
    frameborder: 0;
}


/* Icons */

.material-icons.icon-demo {
    line-height: 50px;
}

.icon-container i {
    font-size: 3em;
    margin-bottom: 10px;
    overflow: hidden;
    display: block;
}

.icon-container span {
    display: block;
}

.icon-container .icon-preview {
    height: 120px;
    text-align: center;
}


/* Grid */

.dynamic-color .col {
    margin-bottom: 55px;
}

.grid-showcase .card-content {
    padding: 20px 0;
}


/* Masonry */

.grid-item {
    margin-bottom: 25px;
    width: 300px;
}


/* Helpers */

.valign-demo {
    height: 345px;
    background-color: #F2F2F2;
}

.talign-demo {
    height: 100px;
    background-color: #F2F2F2;
    padding-left: 20px;
    padding-right: 20px;
}


/* Waves */

.waves-color-demo .btn:not(.waves-light), .waves-color-demo .btn-large:not(.waves-light) {
    background-color: #FFFFFF;
    color: #212121;
}

.waves-color-demo .collection-item {
    height: 57px;
}


/* Slider */

.slider .indicators .indicator-item.active {
    background-color: #607d8b;
}


/* Tabs */

.tabs {
    box-shadow: 0 1px 2px rgba(0,0,0,0.15);
}

.tabs .tab a {
    color: #26a69a;
}

.tabs .tab a:hover {
    color: #b0bec5;
}

.tabs .tab.disabled a {
    color: #b0bec5;
    cursor: default;
}

.tabs .indicator {
    background-color: #fdd349;
}


/* Form Elements */

input:not([type]), input[type=text], input[type=password], input[type=email], input[type=url], input[type=time], input[type=date], input[type=datetime], input[type=datetime-local], input[type=tel], input[type=number], input[type=search], textarea.materialize-textarea {
    border-bottom: 1px solid #BCBCBC;
}

input[type=text]:focus:not([readonly]), input[type=password]:focus:not([readonly]), input[type=email]:focus:not([readonly]), input[type=url]:focus:not([readonly]), input[type=time]:focus:not([readonly]), input[type=date]:focus:not([readonly]), input[type=datetime-local]:focus:not([readonly]), input[type=tel]:focus:not([readonly]), input[type=number]:focus:not([readonly]), input[type=search]:focus:not([readonly]), textarea.materialize-textarea:focus:not([readonly]) {
    border-bottom: 1px solid #26a69a;
    box-shadow: 0 1px 0 0 #26a69a;
}

input[type=text]:focus:not([readonly])+label, input[type=password]:focus:not([readonly])+label, input[type=email]:focus:not([readonly])+label, input[type=url]:focus:not([readonly])+label, input[type=time]:focus:not([readonly])+label, input[type=date]:focus:not([readonly])+label, input[type=datetime-local]:focus:not([readonly])+label, input[type=tel]:focus:not([readonly])+label, input[type=number]:focus:not([readonly])+label, input[type=search]:focus:not([readonly])+label, textarea.materialize-textarea:focus:not([readonly])+label {
    color: #26a69a;
}
 
.input-field .prefix.active {
    color: #26a69a;
}

.input-field label.error {
    color: #F44336;
    position: static;
    top: 0.8rem;
    left: 0.75rem;
    font-size: 0.8rem;
    cursor: text;
    -webkit-transition: .2s ease-out;
    -moz-transition: .2s ease-out;
    -o-transition: .2s ease-out;
    -ms-transition: .2s ease-out;
    transition: .2s ease-out;
}

.autocomplete-content li img {
    height: 28px;
    width: 28px;
    margin: 5px 15px;
}

.dropdown-content {
    max-height: 420px;
}

[type="radio"]:checked+label:after {
    border: 2px solid #26a69a;
    background-color: #26a69a;
}

[type="radio"].with-gap:checked+label:before {
    border: 2px solid #26a69a;
}

[type="radio"].with-gap:checked+label:after {
    border: 2px solid #26a69a;
    background-color: #26a69a;
}

.switch label input[type=checkbox]:checked+.lever {
    background-color: #80cbc4;
}

.switch label input[type=checkbox]:checked+.lever:after {
    background-color: #26a69a;
}

[type="checkbox"]:checked+label:before {
    border-right: 2px solid #26a69a;
    border-bottom: 2px solid #26a69a;
}

[type="checkbox"].filled-in:checked+label:after {
    border: 2px solid #26a69a;
    background-color: #26a69a;
}

.picker__date-display {
    background-color: #26a69a;
}

.picker__weekday-display {
    background-color: #00796b;
}

.picker__day.picker__day--today {
    color: #26a69a ;
}

.picker__day--selected, .picker__day--selected:hover, .picker--focused .picker__day--selected {
    background-color: #e0e0e0;
    color: #595959;
}

.picker__day.picker__day--today.picker__day--selected {
    color: #595959;
}

.picker__close, .picker__today {
    color: #26a69a;
}

button.picker__today:focus, button.picker__clear:focus, button.picker__close:focus {
    background-color: #b2dfdb;
}

.picker__nav--prev:hover, .picker__nav--next:hover {
    background: #80cbc4;
}

input[type=range]+.thumb {
    background-color: #26a69a;
}

input[type=range] + .thumb .value {
  color: #26a69a;
}

input[type=range]::-webkit-slider-thumb {
    background-color: #26a69a;
}

input[type=range]::-moz-range-thumb {
    background: #26a69a;
}

input[type=range]::-ms-thumb {
    background: #26a69a;
}

/* Wizard */

.wizard > .content > .title,
.tabcontrol > .content > .title {
    position: absolute;
    left: -999em;
}

.wizard .actions {
    position: relative;
    display: block;
    text-align: right;
    width: 100%;
}

.wizard .actions ul li {
    display: inline-block;
}

.wizard .actions ul li {
    display: inline-block;
}

.wizard .steps ul li a .current-info,
.wizard .steps ul li a .number {
    display: none;
}

.wizard .tabs {
    box-shadow: none;
}

.wizard-content {
    padding: 50px 0;
}

.wizard-content img {
    display: block;
    width: 100%;
}

.wizardTerms {
    height: 300px;
    overflow-y: scroll;
    padding: 20px;
    border: 1px solid #f1f1f1;
    margin-bottom: 40px;
}


/* Material Preloader */

#materialPreloader {
    z-index: 9999;
}


/* Image Cropper */

.img-preview {
    overflow: hidden;
    width: 240px;
    height: 240px;
}


/* Datatables */

.datatable-example {
    cellspacing: 0;
    width: 100%;
}

.dataTable,
.dataTable th,
.dataTable td {
    border-radius: 0;
}

.dataTable th,
.dataTable td {
    padding: 15px 5px!important;
    display: table-cell;
    text-align: left;
    vertical-align: middle;
    background: none;
}

.dataTable.display tr.odd,
.dataTable.hover tr.odd {
    background-color: transparent!important;
}

.dataTable.display tbody tr:hover,
.dataTable.hover tbody tr:hover {
    background-color: #EEEEEE!important;
}

.dataTable.display tr .sorting_1,
.dataTable.hover tr .sorting_1 {
    background-color: transparent!important;
}

table.dataTable thead th,
table.dataTable thead td {
    padding: 15px 5px!important;
    border-bottom: 1px solid #E6E6E6;
}

table.dataTable tfoot th,
table.dataTable tfoot td {
    padding: 15px 5px!important;
    border-top: 1px solid #E6E6E6;
}

.dataTable.display tr,
.dataTable.hover tr {
    background-color: transparent!important;
    border-bottom: 1px solid #E6E6E6;
}

.dataTables_filter input {
    width: 250px;
}

table.dataTable.row-border tbody th,
table.dataTable.row-border tbody td,
table.dataTable.display tbody th,
table.dataTable.display tbody td {
    border-top: 1px solid #E6E6E6;
}

.dataTables_wrapper .dataTables_paginate .paginate_button,
.dataTables_wrapper .dataTables_paginate .paginate_button:hover,
.dataTables_wrapper .dataTables_paginate .paginate_button:focus,
.dataTables_wrapper .dataTables_paginate .paginate_button:active {
    display: inline-block;
    font-size: 1.2rem;
    padding: 0 10px;
    line-height: 30px;
    border-radius: 2px;
    text-align: center;
    background: none;
    border: 0;
    color: #444!important;
    box-shadow: none;
}

.dataTables_wrapper .dataTables_paginate .paginate_button.current,
.dataTables_wrapper .dataTables_paginate .paginate_button.current:hover,
.dataTables_wrapper .dataTables_paginate .paginate_button.current:focus,
.dataTables_wrapper .dataTables_paginate .paginate_button.current:active  {
    background: #607d8b;
    border: 0;
    color: #fff!important;
    box-shadow: none;

}

.dataTables_wrapper .dataTables_paginate .paginate_button i {
    font-size: 2.2rem;
    vertical-align: middle;
}

.dataTables_wrapper .dataTables_paginate .paginate_button {
    color: #444;
}

.dataTables_wrapper .dataTables_paginate .paginate_button.disabled {
    color: #999;
}

.dataTables_wrapper label select,
.dataTables_wrapper label input {
    color: #333;
}

table.dataTable.row-border tbody tr:first-child th, 
table.dataTable.row-border tbody tr:first-child td, 
table.dataTable.display tbody tr:first-child th, 
table.dataTable.display tbody tr:first-child td {
    border-top: 1px solid #E6E6E6;
}

@media only screen and (max-width: 992px) {
    .dataTable.display tbody td {
        border-top: 0!important;
    }
    table.dataTable thead .sorting_asc,
    table.dataTable thead .sorting_desc,
    table.dataTable thead .sorting {
        background: none;
    }
}

@media only screen and (max-width: 992px) {
table.dataTable thead .sorting {
    width: auto!important;
}
}


/* Tables */

table.bordered > thead > tr,
table.bordered>tbody > tr {
    border-bottom: 1px solid #E0E0E0;
}

@media only screen and (max-width: 992px) {
    .responsive-table tfoot {
        display: none;
    }
}

.comparison-table {
    padding: 0 0 0 220px!important;
}

.comparison-table + .page-footer {
    margin-top: 0!important;
}

.comparison-table-options {
    display: block;
    width: 100%;
    overflow: hidden;
    padding: 20px;
}

.comparison-table-options span {
    margin: 0;
    line-height: 36px;
}


/* NVD3 */

#nvd1,
#nvd2,
#nvd3,
#nvd4,
#nvd5,
#nvd6 {
    height: 400px;
}
.nvd3 .nv-x.nv-axis line {
    stroke: none;
    fill: none;
}

.nvd3 line.nv-guideline {
    stroke-width: 1px;
    stroke-opacity: .1;
    stroke: #000;
}

.tick text,
.nvd3 .nv-axis .nv-axisMaxMin text {
    fill: rgba(0,0,0,0.54);
    font-weight: bold;
}

.domain {
    opacity: 0;
}

.nvtooltip table {
    margin: 12px 10px 14px 15px;
    display: block;
}

.nvtooltip.xy-tooltip.nv-pointer-events-none {
    border-color: rgba(0, 0, 0, 0);
    box-shadow: 0 2px 5px 0 rgba(0,0,0,0.16),0 2px 10px 0 rgba(0,0,0,0.12);
    background: #fff;
}

.nv-axislabel {
    fill: rgba(0,0,0,0.54);
    font-weight: bold!important;
    width: 0px;
}

.nv-indexLine {
    fill: #9e9e9e;
}

.nvtooltip table td.legend-color-guide div {
    border: 0;
    border-radius: 50%;
}


/* Nestable */

.nestable-container {
    overflow: hidden;
}

.dd { position: relative; display: block; margin: 0; padding: 0; max-width: 600px; list-style: none; font-size: 13px; line-height: 20px; }

.dd-list { display: block; position: relative; margin: 0; padding: 0; list-style: none; }
.dd-list .dd-list { padding-left: 30px; }
.dd-collapsed .dd-list { display: none; }

.dd-item,
.dd-empty,
.dd-placeholder { display: block; position: relative; margin: 0; padding: 0; min-height: 20px; font-size: 13px; line-height: 20px; }

.dd-handle { display: block; height: 30px; margin: 5px 0; padding: 5px 10px; color: #333; text-decoration: none; font-weight: bold;
    box-sizing: border-box; -moz-box-sizing: border-box;
    background: #f9f9f9;
    border: 1px solid #ddd;
    border-radius: 0;
    -webkit-transition: all .3s;
    -moz-transition: all .3s;
    -o-transition: all .3s;
    transition: all .3s;
}
.dd-handle:hover { color: #2ea8e5; 
    box-shadow: 0 2px 2px 0 rgba(0, 0, 0, 0.05), 
 0 3px 1px -2px rgba(0, 0, 0, 0.08), 
 0 1px 5px 0 rgba(0, 0, 0, 0.08);}

.dd-item > button { display: block; position: relative; cursor: pointer; float: left; width: 25px; height: 20px; margin: 5px 0; padding: 0; text-indent: 100%; white-space: nowrap; overflow: hidden; border: 0; background: transparent; font-size: 12px; line-height: 1; text-align: center; font-weight: bold; }
.dd-item > button:before { content: '+'; display: block; position: absolute; width: 100%; text-align: center; text-indent: 0; }
.dd-item > button[data-action="collapse"]:before { content: '-'; }

.dd-placeholder,
.dd-empty { margin: 5px 0; padding: 0; min-height: 30px; background: #f2fbff; border: 1px dashed #b6bcbf; box-sizing: border-box; -moz-box-sizing: border-box; }
.dd-empty { border: 1px dashed #bbb; min-height: 100px; background-color: #e5e5e5;
    background-image: -webkit-linear-gradient(45deg, #fff 25%, transparent 25%, transparent 75%, #fff 75%, #fff),
                      -webkit-linear-gradient(45deg, #fff 25%, transparent 25%, transparent 75%, #fff 75%, #fff);
    background-image:    -moz-linear-gradient(45deg, #fff 25%, transparent 25%, transparent 75%, #fff 75%, #fff),
                         -moz-linear-gradient(45deg, #fff 25%, transparent 25%, transparent 75%, #fff 75%, #fff);
    background-image:         linear-gradient(45deg, #fff 25%, transparent 25%, transparent 75%, #fff 75%, #fff),
                              linear-gradient(45deg, #fff 25%, transparent 25%, transparent 75%, #fff 75%, #fff);
    background-size: 60px 60px;
    background-position: 0 0, 30px 30px;
}

.dd-dragel { position: absolute; pointer-events: none; z-index: 9999; }
.dd-dragel > .dd-item .dd-handle { margin-top: 0; }
.dd-dragel .dd-handle {
    -webkit-box-shadow: 2px 4px 6px 0 rgba(0,0,0,.1);
            box-shadow: 2px 4px 6px 0 rgba(0,0,0,.1);
}

/**
 * Nestable Extras
 */

.nestable-lists { display: block; clear: both; padding: 30px 0; width: 100%; border: 0; border-top: 2px solid #ddd; border-bottom: 2px solid #ddd; }

#nestable-menu { padding: 0; margin: 20px 0; }

#nestable-output,
#nestable2-output { width: 100%; height: 7em; font-size: 0.75em; line-height: 1.333333em; font-family: Consolas, monospace; padding: 5px; box-sizing: border-box; -moz-box-sizing: border-box; }

#nestable2 .dd-handle {
    color: #fff;
    border: 1px solid #999;
    background: #bbb;
    background: -webkit-linear-gradient(top, #bbb 0%, #999 100%);
    background:    -moz-linear-gradient(top, #bbb 0%, #999 100%);
    background:         linear-gradient(top, #bbb 0%, #999 100%);
}
#nestable2 .dd-handle:hover { background: #bbb; }
#nestable2 .dd-item > button:before { color: #fff; }

@media only screen and (min-width: 700px) {

    .dd { float: left; width: 100%; }
    .dd + .dd { margin-left: 2%; }

}

.dd-hover > .dd-handle { background: #2ea8e5 !important; }

/**
 * Nestable Draggable Handles
 */

.dd3-content { display: block; height: 30px; margin: 5px 0; padding: 5px 10px 5px 40px; color: #333; text-decoration: none; font-weight: bold; border: 1px solid #ccc;
    background: #fafafa;
    background: -webkit-linear-gradient(top, #fafafa 0%, #eee 100%);
    background:    -moz-linear-gradient(top, #fafafa 0%, #eee 100%);
    background:         linear-gradient(top, #fafafa 0%, #eee 100%);
    -webkit-border-radius: 3px;
            border-radius: 3px;
    box-sizing: border-box; -moz-box-sizing: border-box;
}
.dd3-content:hover { color: #2ea8e5; background: #fff; }

.dd-dragel > .dd3-item > .dd3-content { margin: 0; }

.dd3-item > button { margin-left: 30px; }

.dd3-handle { position: absolute; margin: 0; left: 0; top: 0; cursor: pointer; width: 30px; text-indent: 100%; white-space: nowrap; overflow: hidden;
    border: 1px solid #aaa;
    background: #ddd;
    background: -webkit-linear-gradient(top, #ddd 0%, #bbb 100%);
    background:    -moz-linear-gradient(top, #ddd 0%, #bbb 100%);
    background:         linear-gradient(top, #ddd 0%, #bbb 100%);
    border-top-right-radius: 0;
    border-bottom-right-radius: 0;
}
.dd3-handle:before { content: '≡'; display: block; position: absolute; left: 0; top: 3px; width: 100%; text-align: center; text-indent: 0; color: #fff; font-size: 20px; font-weight: normal; }
.dd3-handle:hover { background: #ddd; }

/**
 * Socialite
 */

.socialite { display: block; float: left; height: 35px; }



/* Flotchart */

#flot1,
#flot2 {
    height: 400px;
}

#flot4 {
    height: 300px;
}

#flot3{
    width: 300px;
    height: 300px;
    margin: 0 auto;
}

#flotTip {
    border-radius: 0;
    background: rgba(51,51,51,0.8);
    box-shadow: 0 2px 5px 0 rgba(0,0,0,0.16),0 2px 10px 0 rgba(0,0,0,0.12);
    color: #fff;
    padding: 5px;
    font-size: 13px!important;
}

#flot3 .pie-chart-legend {
    padding: 5px;
}

#flot3 table {
    display: block;
    width: auto!important;
}

#flot3 table td {
    padding: 5px;
}


/* Sparkline */

#sparkline2,
#sparkline3,
#sparkline4,
#sparkline5,
#sparkline6 {
    text-align: center;
}

.jqstooltip {
    box-sizing: content-box;
}


/* Maps */

#map-canvas {
    position: absolute;
    top: 60px;
    bottom: 0;
    left: 0;
    right: 0;
}

.jvectormap-container {
    background: transparent!important;
}

.jvectormap-tip {
    border-radius: 0;
    background: rgba(51,51,51,0.8);
    border: 0;
    box-shadow: 0 2px 5px 0 rgba(0,0,0,0.16),0 2px 10px 0 rgba(0,0,0,0.12);
    color: #fff;
    padding: 5px;
    font-size: 13px!important;
    font-family: "Roboto", sans-serif;
}

.jvectormap-zoomout {
    left: 30px;
    top: 10px;
}


/* Tooltips */

.material-tooltip {
    font-size: 13px;
}


/* Error Pages */

.error-page {
    padding-top: 30px;
    height: 100%;
    width: 100%;
}

.error-page.page-404 {
    background: url("../images/mountains5.png") no-repeat;
    background-size: cover;
}

.error-page.page-500 {
    background: url("../images/mountains4.png") no-repeat;
    background-size: cover;
}

.error-page.page-coming-soon {
    background: url("../images/mountains2.jpg") no-repeat;
    background-size: cover;
}

.error-page h1 {
    font-size: 120px;
}

.error-page span.text-white {
    font-size: 22px;
}

.error-page span {
    color: #fff;
    text-shadow: 2px 2px 2px rgba(0, 0, 0, 0.3);
}

@media only screen and (max-width: 530px) {
    .page-coming-soon #countdown {
        font-size: 72px;
    }
}


/* Invoice */

.invoice-relative-content {
    position: relative;
}

.invoice-edit-btn {
    position: absolute;
    top: -47.75px;
    right: 20px;
}

.invoice-signature {
    display: block;
    max-width: 250px;
}


/* Search */

body.search-app .search-input input::-webkit-input-placeholder {
    color: #b3e5fc!important;
}
 
body.search-app .search-input input:-moz-placeholder {
    color: #b3e5fc!important;
}
 
body.search-app .search-input input::-moz-placeholder {
    color: #b3e5fc!important;
}
 
body.search-app .search-input input:-ms-input-placeholder {
    color: #b3e5fc!important;
}

.search-app .mn-content:not(.fixed-sidebar) .mn-inner,
.search-app .fixed-sidebar .mn-inner.hidden-fixed-sidebar {
    padding-top: 0;
    padding-right: 0;
    padding-left: 0!important;
}

.search-app .fixed-sidebar .mn-inner {
    padding-top: 0;
    padding-right: 0;
    padding-left: 220px!important;
}

@media only screen and (max-width: 900px) {
    .search-app .fixed-sidebar .mn-inner {
        padding-top: 0;
        padding-right: 0;
        padding-left: 0px!important;
    }
}

.search-bg {
    margin-top: -60px;
    padding-top: 60px;
}

.search-input-container {
    margin-top: 60px;
}

.search-input input[type=text]:focus:not([readonly]), .search-input input[type=password]:focus:not([readonly]), .search-input input[type=email]:focus:not([readonly]), .search-input input[type=url]:focus:not([readonly]), .search-input input[type=time]:focus:not([readonly]), .search-input input[type=date]:focus:not([readonly]), .search-input input[type=datetime-local]:focus:not([readonly]), .search-input input[type=tel]:focus:not([readonly]), .search-input input[type=number]:focus:not([readonly]), .search-input input[type=search]:focus:not([readonly]),.search-input  textarea.materialize-textarea:focus:not([readonly]) {
    border-color: #b3e5fc;
}

.search-input input[type=text]:focus:not([readonly])+label, .search-input input[type=password]:focus:not([readonly])+label, .search-input input[type=email]:focus:not([readonly])+label, .search-input input[type=url]:focus:not([readonly])+label, .search-input input[type=time]:focus:not([readonly])+label, .search-input input[type=date]:focus:not([readonly])+label, .search-input input[type=datetime-local]:focus:not([readonly])+label, .search-input input[type=tel]:focus:not([readonly])+label, .search-input input[type=number]:focus:not([readonly])+label, .search-input input[type=search]:focus:not([readonly])+label, .search-input textarea.materialize-textarea:focus:not([readonly])+label {
    color: #333;
}

.search-input .input-field .prefix.active {
    color: #333;
}

.search-input label {
    color: #d1d1d1;
}
.search-input input[type=text], .search-input input[type=password], .search-input input[type=email], .search-input input[type=url], .search-input input[type=time], .search-input input[type=date], .search-input input[type=datetime-local], .search-input input[type=tel], .search-input input[type=number], .search-input input[type=search] {
    display: block;
    border-bottom: 1px solid #4fc3f7;
    font-size: 28px;
    height: 60px;
    font-size: 22px;
    font-weight: 300;
    width: calc(100% - 4rem);
    color: #fff;
}


.search-tabs-row {
    margin-bottom: 0;
    padding: 0 35.5px;
}

.search-tabs-container {
    margin-bottom: 0;
}

.search-results-container {
    padding: 25px!important;
}

.search-tabs {
    background: #fff;
}

.search-tabs-container .col:first-child {
    padding: 0!important;
}

.search-tabs .tabs {
    background: transparent;
    box-shadow: none;
}

.search-tabs .tabs .tab a {
    font-size: 13px;
    color: rgba(0,0,0,0.6);
}

.search-tabs .tabs .tab a:hover,
.search-tabs .tabs .tab a.active {
    color: rgba(0,0,0,0.7);
}

.search-tabs .tabs .tab.disabled a {
    color: #b0bec5;
    cursor: default;
}

.search-tabs .tabs .indicator {
    background-color: #EE3182;
    height: 3px;
}

.search-stats {
    height: 48px;
}

.search-stats span {
    font-size: 13px;
    line-height: 48px;
}

.search-stats span.secondary-stats {
    color: #B8C1C4;
}

.search-page-results #web .search-result a.search-result-title {
    font-size: 15px;
    display: block;
    font-weight: 400;
    margin-bottom: 3px;
}

.search-page-results #web .search-result a.search-result-link {
    font-size: 13px;
    color: #4caf50;
    display: block;
    font-weight: 400;
    margin-bottom: 3px;
}

.search-results span {
    font-size: 14px;
}

.search-result .search-result-description {
    font-size: 13px;
}

.search-page-results #web .divider {
    margin: 20px 0;
}

.search-image-results img {
    margin-bottom: 20px;
}

.search-tabs-header .search-tabs-button {
    margin: 18px 0 0 0;
}

.search-tabs-header .search-tabs-button i {
    vertical-align: top;
    font-size: 16px;
    line-height: 36px;
    margin-right: 5px;
}


/* Authentication */

.signin-page {
    height: 100%;
    width: 100%;
    background: url('../images/mountains2.jpg') no-repeat;
    background-size: cover;
}

.signup-page {
    background: url('../images/mountains3.png') no-repeat;
    background-size: cover;
}

.pattern-lock-screen {
    background: url('../images/mountains5.png') no-repeat;
    background-size: cover;
}

.pattern-lock-screen .mn-content {
    background: rgba(0,0,0,0.54);
}

#patternContainer {
    background: transparent;
}

.patt-dots {
    box-shadow: 2px 2px 2px rgba(0, 0, 0, 0.3);
}

#time,
#date {
    text-shadow: 2px 2px 2px rgba(0, 0, 0, 0.3);
}

.lock-screen-image {
    margin: 0 auto 20px auto;
    display: block;
}


/* Contact */

#contact-map-canvas {
    width: 100%;
    height: 300px;
}


/* Calendar */

.fc-content {
    padding: 10px;
    border-radius: 2px;
    background-color: #64b5f6;
    font-weight: 400;
    border: 0!important;
}

.fc-event {
    border: 0!important;
    background: none;
}

.fc button {
    background-image: none;
    border: 0;
    box-shadow: none;
    background-color: transparent;
    color: #343434;
    cursor: pointer;
    -webkit-transition: all .3s;
    -moz-transition: all .3s;
    -o-transition: all .3s;
    transition: all .3s;
}

.fc button:hover {
    background-color: #f1f1f1;
}

.fc-toolbar h2 {
    font-size: 18px;
}


/* Mailbox */

body.mailbox .mn-inner {
    padding-top: 0!important;
    padding-bottom: 0!important;
    padding-right: 0!important;
}

@media (min-width: 993px){
body.mailbox .mn-content.fixed-sidebar .mn-inner {
        padding-left: 221px;
        width: 100%;
    }
}

body.mailbox .page-footer {
    margin-top: 0;
}

.mailbox .mn-inner.hidden-fixed-sidebar {
    padding-left: 0px!important;
}

.mailbox .modal {
    width: 35%;
    background-color: #fff;
}

.mailbox .modal .modal-footer .btn-floating {
    float: right;
    margin: 6px 0;
}

.mailbox .modal-content > .row {
    margin: 0 -20px;
}

.mailbox .modal .modal-footer {
    padding: 12px 24px;
    height: 74px;
    z-index: 1;
}

.mailbox-content.card {
    margin: 0!important;
}

.card.mailbox-content {
    box-shadow: none;
}

.card.mailbox-content .card-content {
    padding: 0;
}

.mailbox-content .row {
    margin-left: 0;
    margin-right: 0;
}

.mailbox-list {
    position: relative;
    margin: 0 -10.5px 0 -12px;
    overflow: auto;
    background-color: #fff;
    box-shadow: 0 2px 5px 0 rgba(0,0,0,0.16),0 2px 10px 0 rgba(0,0,0,0.12);
    max-height: 900px;
}

.mailbox-list ul {
    margin: 0;
}

.mailbox-list a {
    padding: 20px 20px 20px 50px;
    display: block;
    border-bottom: 1px solid #E0E0E0;
    color: #555555;
    font-size: 13px;
    position: relative;
    padding: 20px 20px 20px 51.5px;
}

.mailbox-list ul li:last-child a {
    border-bottom: none;
}

.mailbox-list a:hover {
    background: rgba(0,0,0,.05);
}

.mailbox-list a .mail-author {
    font-size: 13px;
    font-weight: 500;
    margin: 0 0 5px 0;
}

.mailbox-list a .mail-title {
    font-size: 15px;
    font-weight: 500;
    margin: 0 0 5px 0;
}

.mailbox-list a .mail-text {
    font-weight: 400;
    color: #a3a8a8;
}

.mailbox-list a .mail-date {
    font-size: 11px;
    color: #969c9c;
}

.mailbox-list a .mail-attachment i {
    font-size: 18px;
    color: #969c9c;
}

.mailbox-list a .mail-checkbox {
    position: absolute;
    left: 16.5px;
    top: 50%;
    margin-top: -10px;
}

.mailbox-list a .mail-checkbox [type="checkbox"].filled-in:checked+label:before {
    width: 7px;
    height: 12px;
}

.mailbox-list a .mail-checkbox [type="checkbox"].filled-in:not(:checked)+label:after {
    height: 18px;
    width: 18px;
}

.mailbox-list a .mail-checkbox [type="checkbox"].filled-in:checked+label:after {
    height: 18px;
    width: 18px;
}

.mailbox-list a .mail-checkbox [type="checkbox"].filled-in:checked+label:after {
    border: 2px solid #616161;
    background-color: #616161;
}

.mailbox-list a.mail-active {
    background: #fff8e1;
}

.mailbox-view {
    padding: 25px 25px 25px 25px;
    overflow: hidden;
}

.mailbox-view .mailbox-title {
    color: #313534;
    font-size: 17px;
    display: block;
    line-height: 1;
    margin-top: 8px;
    margin-bottom: 1px;
}

.mailbox-view .mailbox-author {
    color: #aaa;
    font-size: 12px;
    font-weight: 400;
}

.mailbox-options {
    display: block;
    margin: 0 -10.5px;
}

.mailbox-options ul {
    overflow: hidden;
    background: #f9f9f9;
    border-bottom: 1px solid #e0e0e0;
    margin: 0;
    padding-left: 20px;
}

.mailbox-options ul li {
    float: left;
}

.mailbox-options ul li a {
    display: block;
    font-size: 13px;
    padding: 12px 16px;
    color: rgba(0,0,0,.7);
}

.mailbox-text {
    clear: both;
}

.mailbox-profile-image {
    width: 50px;
    margin-right: 15px;
}

.mailbox-details {
    margin-bottom: 20px;
    width: 200px;
    font-size: 13px;
}

.mailbox-details .first-col {
    padding-left: 0px;
}

.mailbox-details .first-col span {
    font-weight: bold;
    color: #333;
    display: block;
}

.mailbox .inner-sidebar {
    background: transparent;
    float: left;
}

.mailbox .middle-content {
    padding-top: 0;
    padding-right: 0;
}

.mailbox .mailbox-content {
    border-right: 1px solid #e0e0e0;
}

.details-list {
    display: none;
    margin-top: 10px;
}

.mailbox-divider {
    margin-top: 25px;
    margin-bottom: 10px;
    display: block;
    float: none;
    clear: both;
}

.attachment-info {
    font-size: 13px;
}

.details-toggle,
.attachment-info a {
    font-weight: 400;
    font-size: 13px;
}

.attachment-info p {
    color: rgba(0,0,0,0.65)!important;
}

.attachment-info i {
    font-size: 18px;
    vertical-align: top;
    margin-right: 5px;
}

.attachment-list li {
    position: relative;
    width: 200px;
    float: left;
    margin-right: 10px;
    margin-bottom: 15px;
}

.attachment-list li .attachment {
    display: block;
}

.attachment-list li .attachment img {
    display: block;
    width: 100%;
}

.attachment-list li .attachment .attachment-info {
    padding: 10px;
}

.attachment-list li .attachment .attachment-info span {
    font-size: 11px;
    color: #aaa;
}

.mailbox-view-header {
    overflow: hidden;
    padding-left: 3px;
    padding-top: 1px;
}

.simditor,
.simditor .simditor-toolbar {
    border-color: #e0e0e0;
}

.simditor .simditor-body {
    min-height: 150px;
}

.simditor .simditor-body,
.editor-style {
    line-height: 1.5;
    font-family: "Roboto", sans-serif;
    font-weight: normal;
    color: rgba(0,0,0,0.87);
    font-size: 14px;
}


/* File Manager */

.file-manager .inner-sidebar {
    width: 300px;
    height: 100%;
    position: fixed;
    right: 0;
    padding: 0;
}

.file-manager .middle-content {
    width: calc(100% - 300px)!important;
}

.file-manager .file-info-header {
    height: 200px;
    width: 100%;
    position: relative;
    padding: 5px 25px 5px 25px;
}

.file-manager .file-info-header .file-name-container {
    position: absolute;
    bottom: 0;
    padding-bottom: 20px;
}

.file-manager .file-info-header .file-name-container span {
    clear: both;
    display: block;
}


/* Todo */

.todo-nav {
    overflow: hidden;
    display: block;
}

.todo-nav li {
    float: left;
    margin: 0 10px;
}

@media only screen and (max-width: 525px) {
    .todo-nav li {
        float: none;
        margin: 10px 0;
    }
}

.todo-list.only-active .todo-item.complete {
    display: none;
}

.todo-list.only-active .todo-item:not(.complete) {
    display: block;
}

.todo-list.only-complete .todo-item:not(.complete) {
    display: none;
}

.todo-list.only-complete .todo-item.complete {
    display: block;
}

.todo-list .todo-item.complete span {
    text-decoration: line-through;
}

.remove-todo-item {
    color: #ccc;
    visibility: hidden;
    float: right;
}

.remove-todo-item:hover {
    color: #5f5f5f;
}

.todo-item:hover .remove-todo-item {
    visibility: visible;
}

.todo-item {
    padding: 10px;
    border-bottom: 1px solid #f1f1f1;
}

.all-check {
    padding: 20px 10px 10px 10px;
}


/* Footer */

.page-footer {
    margin-top: 25px;
    border-top: 1px solid #E0E0E0;
    clear: left;
    height: 96px;
    padding-left: 220px;
    position: relative;
    width: 100%;
    z-index: 0;
    -webkit-transition: padding-left 0.2s cubic-bezier(0.4, 0, 0.2, 1);
    -moz-transition: padding-left 0.2s cubic-bezier(0.4, 0, 0.2, 1);
    transition: padding-left 0.2s cubic-bezier(0.4, 0, 0.2, 1);
}

@media screen and (max-width: 1479px) {
.page-footer {
    padding-left: 0;
    z-index: 0;
}
}

.page-footer .footer-l {
    height: 100%;
    left: 0;
    position: absolute;
    top: 0;
    width: 50.1%;
    z-index: -1;
}

.page-footer .container .footer-grid-l {
    height: 100%;
    float: left;
    width: 50%;
}

.page-footer .footer-grid {
    height: 100%;
    z-index: 20;
}

.fixed-sidebar .page-footer .footer-grid.container {
    width: 100%!important;
    max-width: 100%!important;
}

.page-footer .footer-r {
    float: left;
    height: 100%;
    position: absolute;
    right: 0;
    top: 0;
    width: 50%;
    z-index: -1;
}

.page-footer .footer-grid .footer-grid-r {
    height: 100%;
    float: right;
    text-align: right;
    width: 50%;
}

.page-footer .footer-grid .footer-grid-l .footer-text {
    display: inline-block;
    font-size: 18px;
    font-weight: 500;
    -webkit-font-smoothing: antialiased;
    height: 100%;
    line-height: 24px;
    padding-top: 24px;
    width: 100%;
}

.page-footer .footer-grid .footer-grid-l .footer-text .arrow-l {
    float: left;
    margin-right: 10px;
    padding-top: 23px;
    width: 24px;
}

.page-footer .footer-grid .footer-grid-L .footer-text span {
    font-size: 15px;
    line-height: 18px;
    margin-bottom: 1px;
}

.page-footer .footer-grid .footer-grid-r .footer-text {
    display: inline-block;
    font-size: 18px;
    font-weight: 500;
    -webkit-font-smoothing: antialiased;
    height: 100%;
    line-height: 24px;
    padding-top: 24px;
    width: 100%;
}

.page-footer .footer-grid .footer-grid-r .footer-text .arrow-r {
    float: right;
    margin-left: 10px;
    padding-top: 23px;
    width: 24px;
}

.page-footer .footer-grid .footer-text span {
    font-size: 14px;
    line-height: 18px;
    margin-bottom: 1px;
}

.footer-text {
    color: #455a64;
}

.footer-text span.direction {
    color: rgba(69,90,100,.55);
}