/* Write your custom CSS here */
.morula {
	background-color: #fdd349;
	background-image: -webkit-gradient(linear, left bottom, right bottom, color-stop(0%,#fdd349), color-stop(100%,#eca910));
    border: none;
}
.logo-admission{
	cursor: pointer; cursor: hand;
}
.button-logout{
	background: #564f33;color:#fdd349;font-size:12px;height: 80px;width: 100px; border: none;
}

.button-logout:focus {     
    background: #564f33;   
    }

.side-nav.fixed ul li a{
    color: #fccc50;
    font-size: 16;
    background: #564f33; 
    vertical-align: center;  
}

 .side-nav.fixed ul li a.active,
 .side-nav li a:hover{
    color: #fccc50;
    background: #564f33;   
}

.navbar-fixed .header-title{
    font-weight: bold;
    font-size: 24px;
    color: #875c0d;
}

.navbar-fixed .header-title p {
    color: #875c0d;
    font-size: 14px;
    display: block;
    -webkit-margin-before: 1em;
    -webkit-margin-after: 1em;
    -webkit-margin-start: 0px;
    -webkit-margin-end: 0px;
}
.sidebar-icon{
	width:60px;height:60px;
}

.side-nav a {
    margin: 0;
    display: block;
    text-align: center;
    border-radius: 0;
    font-size: 15px;

    text-transform: none;
   
    height: 130px;
}
.row .lebel{
    padding-top: 10px;
    font-size: 14px;
    float: left; width: 10em; margin-right: 1em; text-align: right;
}
