/* Write your custom CSS here */
.morula {
	background-color: #51e293;
	background-image: -webkit-gradient(linear, left bottom, right bottom, color-stop(0%,#51e293), color-stop(100%,#3acaaf));
    border: none;
}
.material-icons.md-18 { font-size: 18px; }
.material-icons.md-24 { font-size: 24px; }
.material-icons.md-36 { font-size: 36px; }
.material-icons.md-48 { font-size: 48px; }

.logo-admission{
	cursor: pointer; cursor: hand;
}
.button-logout{
	background: #564f33;color:#fdd349;font-size:12px;height: 80px;width: 100px; border: none;
}

@media screen and (max-width: 600px) {
    #logout-btn {
        visibility: hidden;
        clear: both;
        float: left;
        margin: 10px auto 5px 20px;
        width: 28%;
        display: none;
    }
}

.button-logout:focus {     
    background: #564f33;   
    }

.side-nav.fixed ul li a{
    color: #fff;
    font-size: 13px;
    background: #2d515f;
    vertical-align: center;  
}


.toggle-hide-icon{
    color: #fdd349!important;
    margin-top:20px!important;
    margin-left:45px!important;
    font-size: 32px!important;
}

.hand{
    cursor: pointer!important;
}

.navbar-fixed .header-title{
    font-weight: bold;
    font-size: 24px;
    color: #875c0d;
}

.navbar-fixed .header-title p {
    color: #875c0d;
    font-size: 14px;
    display: block;
    -webkit-margin-before: 1em;
    -webkit-margin-after: 1em;
    -webkit-margin-start: 0px;
    -webkit-margin-end: 0px;
}
.sidebar-icon{
	width:60px;height:60px;
}

.side-nav a {
    margin: 0;
    display: block;
    text-align: center;
    border-radius: 0;
    font-size: 15px;

    text-transform: none;
   
    height: 130px;
}
.row .lebel{
    padding-top: 10px;
    font-size: 14px;
    float: left; width: 10em; margin-right: 1em; text-align: right;
}

.row .lbl{
    padding-top: 10px;
    font-size: 14px;
    margin-right: 10px;
    text-align: right;
}

.row .no-padding-hor{
    padding-right: 0px;
    padding-left: 0px;
}

.row .no-padding-left{
    padding-left: 0px;
}

.row .no-padding-right{
    padding-right: 0px;
}

.card-content-login {
   background: #F4F4F4;
   width: 400px;
   height: 300px;
   border-radius: 15px;
   box-shadow: 2px 2px 2px #888888;
}
.btn-flat {
    font-weight: 500;
    color: #564f33;
    font-size: 13px;
}
.cream{
  background-color: #fdd349!important;
}
.cream-font{
    color: #fdd349!important;
}
.input-login{
    background: white;
    border-radius: 5px;
    padding-left: 20px;
    padding-right: 20px;
}
.detail-patient-dp{
   width: 140px;
    widows: 75px;
}

.input-field-detail  {
    position: relative;
    height: 35px;
}

.input-field-detail input {
   padding-bottom: 0px;
}

.input-field-detail.col label {
    left: 0.75rem;
}

.select-wrapper + label {
    position: absolute;
    top: -14px;
    font-size: 0.8rem;
}

.input-field-detail.col .prefix ~ label,
.input-field-detail.col .prefix ~ .validate ~ label {
    width: calc(100% - 3rem - 1.5rem);
}

.input-field-detail label {
    color: #9e9e9e;
    position: absolute;
    top: 0.8rem;
    font-size: 1rem;
    cursor: text;
    transition: .2s ease-out;
}

.input-field-detail label.active {
    font-size: 0.8rem;
    -webkit-transform: translateY(-140%);
    transform: translateY(-140%);
}

.input-field-detail .prefix {
    position: absolute;
    width: 3rem;
    font-size: 2rem;
    transition: color .2s;
}

.input-field-detail .prefix.active {
    color: #26a69a;
}
.input-field-detail .prefix ~ input,
.input-field-detail .prefix ~ textarea,
.input-field-detail .prefix ~ label,
.input-field-detail .prefix ~ .validate ~ label,
.input-field-detail .prefix ~ .autocomplete-content {
    margin-left: 3rem;
    width: 92%;
    width: calc(100% - 3rem);
}

.input-field-detail .prefix ~ label {
    margin-left: 3rem;
}



.scroll tr {
    display: flex;
}

.scroll td {
    flex: 1 auto;
    width: 1px;
    word-wrap: break;
}

.scroll thead tr:after {
    content: '';
    overflow-y: scroll;
    visibility: hidden;
}

.scroll thead th {
    flex: 1 auto;
    display: block;
}

.scroll tbody {
    display: block;
    width: 100%;
    overflow-y: auto;
    height: 170px;
}
.tab-content { display: none; }

.white-input input:focus + label {
    color: white !important;
}
/* label underline focus color */
.row .white-input input {
    padding-bottom: 0px;
    margin-bottom: 0px;
    border-bottom: 1px solid white !important;
    box-shadow: 0 1px 0 0 white !important
}

.card-anamnesa{
    height: 780px;
}

.card-nurse{
    padding-left: 50px;
    padding-right: 50px;
}

.card-search-patient{
    margin-top: 100px;
}
.dashboard{
    height: 150px;
}
.dashboard-header{
    height: 100px;
    width:250px;
}

.kotak-1 {
    display: block;
    /*float: left;*/
    border: 1px solid lightgrey;
    margin-right: 10px;
    width: 200px;
    height: 500px;
}
.body-child {
    width: 100%;
    height: 400px;
    overflow: auto;
    background: #ffffe9;
}
.table-wrapper {
    overflow-x: scroll;
}
.scrolls{
    display: block;
    overflow: auto;
}
.footer-doctor{
    padding: 0px!important;
    height: 10px;
}

.the-datepicker{
    width:100px;
}

.btn-self-checkin{
    width: 90%;
    height: 155px;
}

.form-self-checkin{
    padding: 180px 0 0 300px;
}

.isi-form-self-checkin{
    padding: 20px;
}

#add_new_patient{
    margin-top:60px;
}

.doctor-dp{
    width: 100px;
    height:100px;
}

#doctor_list {
    -vendor-animation-duration: 1s;
    -vendor-animation-delay: 0s;
    -vendor-animation-iteration-count: infinite;
}

.card-dashboard{
    box-shadow: 0 1px 2px rgba(0,0,0,0.15);
    transition: all .2s linear;
}
.card-dashboard:hover{
    -webkit-transform: scale(1.06);
    -ms-transform: scale(1.06);
    transform: scale(1.06);
    box-shadow: 0 5px 15px rgba(0,0,0,0.3);
    cursor: pointer; cursor: hand;
}

.destination{
    margin-left:100px;
}
.upload-dp{
    height: 100%;
    object-fit: contain;
}

.user{
    margin: 35px 0 0 1000px;
    position: absolute;
    color: #875c0d;
    font-size: 20px;
}

nav a {
    color: #fff;
}